* {box-sizing: border-box;}

.todosContainer{
	margin: 0 auto;
	width: 50%;
	background-color: #90ca9f;
	padding: 5px 10px 5px 25px;
	border-radius: 15px;
	position: relative;
}

h3{
	font-family: "Trebuchet MS", "Lucida Sans";
}

header{
	display: flex;
	justify-content: space-between;
}
.rounded {
	counter-reset: li;
	list-style: none;
	font: 14px "Trebuchet MS", "Lucida Sans";
	padding: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}

.todo{
	position: relative;
	display: flex;
	padding: .7em .7em .7em 3em;
	margin: .5em 0;
	background: #e6f0ba;
	color: #444;
	text-decoration: none;
	border-radius: 1em;
	transition: .3s ease-out;
	justify-content: space-between;
	}
	.todo:hover {background: #E9E4E0;}
	.todo:hover:before {transform: rotate(360deg);}
	.todo:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.7em;
	background: #e68467;
	height: 3em;
	width: 3em;
	line-height: 3em;
	border: .3em solid white;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
	}


.loader {

	width: 90px;
	height: 90px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	position: sticky;
	animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 8px solid #d2ff0a;
	animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
	border-color: #FF3D00;
	animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
	inset: 4px;
  }


  /* .modal {
	padding: 10px 50px;
	background-color: #e6f0ba;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	z-index: 1;
	border: 2px solid green;
  } */

  @keyframes rotate {
	0%   {transform: rotate(0deg)}
	100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
	  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
	  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
	  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
.func{
	display: flex;
	gap: 20px
}

.formSearch {
	position: relative;
	width: 300px;

  }
.inputSearch {

	width: 300px;
	height: 42px;
	padding-left: 10px;
	border: 2px solid #7BA7AB;
	border-radius: 5px;
	outline: none;
	background: #F9F0DA;
	color: #9E9C9C;
}

	.btn {
		display: inline-block;
		box-sizing: border-box;
		padding: 0 25px;
		margin: 0 15px 15px 0;
		outline: none;
		border: 1px solid #fff;
		border-radius: 50px;
		height: 46px;
		line-height: 46px;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		color: #444;
		background-color: #fff;
		box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
		cursor: pointer;
		user-select: none;
		appearance: none;
		touch-action: manipulation;
		vertical-align: top;
		transition: box-shadow 0.2s;
	}
	.btn:focus-visible {
		border: 1px solid #4c51f9;
		outline: none;
	}
	.btn:hover {
		transition: all 0.2s;
		box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
	}
	.btn:active {
		background-color: #808080;
	}
	.btn:disabled {
		background-color: #eee;
		border-color: #eee;
		color: #444;
		cursor: not-allowed;
	}
	.sorted{
		background-color: #2a5e38;
		color: white;
	}

@media screen and (max-width: 1800px ) {
	.todosContainer{

		width: 100%;
	}

	header{
		display: block;
	}
	.func{
		display: block;
	}

}
